h1 {
  font-family: "Rubik", serif;
  font-weight: 200;
}
a{
  font-weight: bold;
  color: #3186e5;
}
.container {
  height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
}
.question{
  width: 600px;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}
.btn {
  padding: 20px;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  font-family: "Rubik", serif;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;

}
.img {
 width: 400px;
 height: 200px;
 display: flex;
 justify-content: center;
 align-items: center;

}
.img img{
  object-fit: cover;
  height: 200px;
}
.yes{
  background-color: #1fc333;
  color: white;
}
.yes:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.no{
  background-color: #e53131;
  color: white;
}
.no:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}